# day-4

# control flow statements

# if condition

write a program to calculate the percentage of a student in the subjects maths science social english hind

In [8]:
x=input("Enter the name of a student")
a=int(input("enter the marks scored in english"))
b=int(input("enter the marks scored in hindi"))
c=int(input("enter the marks scored in maths"))
d=int(input("enter the marks scored in science"))
e=int(input("enter the marks scored in social"))
n=((a+b+c+d+e)/500)*100
print("the percent scored by student is",n)

Enter the name of a studentAmrit Shrestha
enter the marks scored in english67
enter the marks scored in hindi87
enter the marks scored in maths98
enter the marks scored in science66
enter the marks scored in social78
the percent scored by student is 79.2

In [11]:
a=int(input("enter the percentage score by a student"))

if a>=90:
    print("A grade")
if a>=75 and a<90:
    print("B grade")
if a>=65 and a<75:
    print("C grade")

enter the percentage score by a student80
B grade

# if else statement

write a program to display hello if number enter by a user multiple by 5 else print bye

In [14]:
a=int(input("enter the number"))
if a%5==0:
    print("hello")
else:
        print("bye")

enter the number23
bye

In [15]:
a=int(input("enter the number"))
if a%5==0:
    print("hello")
else:
        print("bye")

enter the number45
hello

In [16]:
a=int(input("enter the number"))
if a>0:
    print("positive number")
else:
    print("negative number")

enter the number-26
negative number

In [17]:
a=int(input("enter the number"))
if a>0:
    print("positive number")
else:
    print("negative number")

enter the number30
positive number

# if-elif-else

In [18]:
accept the city and print its monument
Delhi-Red Fort
agra-taj mahal
jaipur-jalmahal
orissa-konak temple
hyderabad-charminar
other-record not found

SyntaxError: invalid syntax (2189662257.py, line 1)

In [20]:
city=input("enter the city")
if city=="Delhi":
    print("The monument is delhi is redfort")
elif city=="Agra":
    print("The monument is Agra is tajmahal")
elif city=="jaipur":
    print("The monument is jaipur is jalmahal")
elif city=="orissa":
    print("The monument is orissa is konak temple")
elif city=="hyderabad":
    print("The monument is hyderabad is charminar")
else:
    print("no record found")

enter the cityDelhi
The monument is delhi is redfort

In [1]:
city=input("enter the city")
if city=="Delhi":
    print("The monument is delhi is redfort")
elif city=="Agra":
    print("The monument is Agra is tajmahal")
elif city=="jaipur":
    print("The monument is jaipur is jalmahal")
elif city=="orissa":
    print("The monument is orissa is konak temple")
elif city=="hyderabad":
    print("The monument is hyderabad is charminar")
else:
    print("no record found")

enter the cityagra
no record found

In [22]:
city=input("enter the city")
if city=="Delhi":
    print("The monument is delhi is redfort")
elif city=="Agra":
    print("The monument is Agra is tajmahal")
elif city=="jaipur":
    print("The monument is jaipur is jalmahal")
elif city=="orissa":
    print("The monument is orissa is konak temple")
elif city=="hyderabad":
    print("The monument is hyderabad is charminar")
else:
    print("no record found")

enter the citylaknow
no record found

# nested if

In [2]:
  
i = 13
  
if (i == 13):  
    #  First if statement  
    if (i < 15):  
        print ("i is smaller than 15")  
          
    # Nested - if statement  
    # Will only be executed if statement above  
    # it is true  
    if (i < 12):  
        print ("i is smaller than 12 too")  
    else:  
        print ("i is greater than 12 and smaller than 15")

i is smaller than 15
i is greater than 12 and smaller than 15