# day-6

# user-defined function

# creating a user define function

In [13]:
def my_function(): 
    print("hello class")
    print("we are learning python")

# calling a function

In [14]:
my_function()

hello class
we are learning python

# Making the result of a student

In [15]:
def contact():
    print("contact details of the school")
    print("Delhi public School")
    print("bangalore karanatka")
    print("9867873746")
    print("shresthaamrit979@gmail.com")

In [16]:
for i in range(4):
    a=input("Name of the stuident")
    b=int(input("enter the marks of maths"))
    c=int(input("enter the marks of science"))
    d=int(input("enter the marks of social"))
    print()
    contact()

Name of the stuidentAmrit Shrestha
enter the marks of maths90
enter the marks of science78
enter the marks of social87

contact details of the school
Delhi public School
bangalore karanatka
9867873746
shresthaamrit979@gmail.com
Name of the stuidentAadit Shrestha
enter the marks of maths87
enter the marks of science98
enter the marks of social77

contact details of the school
Delhi public School
bangalore karanatka
9867873746
shresthaamrit979@gmail.com
Name of the stuidentAaditya
enter the marks of maths67
enter the marks of science8
enter the marks of social9

contact details of the school
Delhi public School
bangalore karanatka
9867873746
shresthaamrit979@gmail.com
Name of the stuidentsapna
enter the marks of maths87
enter the marks of science88
enter the marks of social77

contact details of the school
Delhi public School
bangalore karanatka
9867873746
shresthaamrit979@gmail.com

# Arguments

In [21]:
def my_function(fname):
    print(fname+" "+"sharma")

In [24]:
my_function("pooja")
my_function("priya")
my_function("prasant")

pooja sharma
priya sharma
prasant sharma

In [25]:
def my_function(fname,lname):
    print(fname+" "+lname)

In [26]:
my_function("pooja","verma")

pooja verma

In [ ]:
#write a program to calculate the electricity bill
condition
if 500 unit used - pay rs 5 for each unit
if 700 unit used - pay rs 10 for each unit
if 1000 unit used - pay rs 15 for each unit
if more than 1000 unit used - pay rs 20 for each unit

In [27]:
def electricity_bill(n):
    if n<=500:
        print("your bill is rs",n*5)
    elif n>500 and n<=700:
        print("your bill is rs",n*10)
    elif n>700 and n<=1000:
        print("your bill is rs",n*15)
    elif n>1000:
        print("your bill is rs",n*20)

In [32]:
def instruction():
    print("last date of paying the bill is 20 april")
    print("after 20 april you need to pay rs 1000 as a fine")
    print("Electricity office kathmandu")

In [33]:
for i in range(3):
    a=input("enter the name of a customer")
    n=int(input("enter the unit of electricity you have used"))
    print()
    electricity_bill(n)
    instruction()

enter the name of a customerMenuka
enter the unit of electricity you have used650

your bill is rs 6500
last date of paying the bill is 20 april
after 20 april you need to pay rs 1000 as a fine
Electricity office kathmandu
enter the name of a customerram,
enter the unit of electricity you have used1300

your bill is rs 26000
last date of paying the bill is 20 april
after 20 april you need to pay rs 1000 as a fine
Electricity office kathmandu
enter the name of a customeramrit
enter the unit of electricity you have used750

your bill is rs 11250
last date of paying the bill is 20 april
after 20 april you need to pay rs 1000 as a fine
Electricity office kathmandu