# day-8

# List in python

# Creating a list

In [1]:
mylist=["apple","orange","banana"]
print(mylist)
print(type(mylist))

['apple', 'orange', 'banana']
<class 'list'>

# Allow Duplicates

In [3]:
mylist=["apple","orange","banana","apple","banana","apple"]
print(mylist)

['apple', 'orange', 'banana', 'apple', 'banana', 'apple']

# Data types

In [4]:
list1=["apple","Orange","banana"]
list2=[2,5,8]
list3=[7.8,8.9,2.56]
list4=[True,False,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'Orange', 'banana']
[2, 5, 8]
[7.8, 8.9, 2.56]
[True, False, True]

In [6]:
a=[5,2.5,True,"apple",False,"student",2,7.8]
print(a)

[5, 2.5, True, 'apple', False, 'student', 2, 7.8]

# List Length

In [7]:
a=[5,2.5,True,"apple",False,"student",2,7.8]
print(len(a))

8

In [8]:
b=[15,8,9,3,4,6,7,8,9,25]
print(len(b))

10

# Access Items

In [9]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[1])

15

In [10]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[8])

22

In [11]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[0])

12

In [12]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[-1])

5

In [14]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[-8])

78

# Slicing of list

In [16]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[0:4])

[12, 15, 26, 78]

In [17]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[3:9])

[78, 25, 96, 142, 52, 22]

In [18]:
thislist=[12,15,26,78,25,96,142,52,22,6,5]
print(thislist[0:11:2])

[12, 26, 25, 142, 22, 5]

# Change items

In [19]:
thislist=["apple","orange","banana"]
thislist[1]="strawbery"
print(thislist)

['apple', 'strawbery', 'banana']

In [22]:
a=[12,14,15,16,8,9,-5,-3,41,-9]
a[2]="student"
print(a)

[12, 14, 'student', 16, 8, 9, -5, -3, 41, -9]

# Change a range of item values

In [29]:
a=[12,14,15,16,8,9,-5,-3,41,-9]
a[2:4]=["Hello","student","how"]
print(a)

[12, 14, 'Hello', 'student', 'how', 8, 9, -5, -3, 41, -9]

In [25]:
a=[12,14,15,16,8]  #add value using append
a.append(-9)
print(a)

[12, 14, 15, 16, 8, -9]

In [28]:
m=[12,14,"paper","student","pen",45,67] #to remove value
m.remove("student")
print(m)

[12, 14, 'paper', 'pen', 45, 67]

In [30]:
mylist=[1,2,3,4,5,"python","data"] #to reverse
mylist.reverse()
print(mylist)

['data', 'python', 5, 4, 3, 2, 1]

In [33]:
l=[14,15,17,78,-9,23,-8,52,74,89,25,102,-8] #sum of the value on the list
print(len(l))
a=0
for i in range(13):
    a=a+l[i]
    i=i+1
print("the sum of a list is",a)

13
the sum of a list is 464

# Multiply all the numbers of a list

In [55]:
l=[1,2,3,4,5,6,7,8,9,10]
a=1
for i in range(len(l)):
    a=a*l[i]
    i=i+1
print("the multiply of a list is",a)

the multiply of a list is 3628800

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
print(len(l))
a=1
for i in range(10):
    a=a*l[i]
    i=i+1
print("the multiply of a list is",a)

10
the multiply of a list is 3628800

In [5]:
l=[1,2,3,4,5,6,7,8,9,10]
a=1
for x in l:
    a=a*x
print(a)

3628800