# Day-9

# Tuples

# Creating a tuple

In [3]:
my_tuple=(1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

# Mixed datatypes

In [6]:
my_tuple=(1,"hello",3.2,4+2j)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3.2, (4+2j))
<class 'tuple'>

# empty tuple

In [7]:
my_tuple=()
print(my_tuple)

()

# Nested Tuples

In [8]:
a=("data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# Creating a tuple with only one item

In [10]:
var1=("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [11]:
var2=("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

# Tuple Constructor

In [13]:
a=tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [14]:
a=(47,45,48,5,8,6)
print(a[5])

6

In [15]:
a=(47,45,48,5,8,6)
print(a[-2])

8

In [16]:
a=(47,45,48,5,8,6,"data","python")
print(a[6])

data

In [17]:
a=(47,45,48,5,8,6,"data","python")
print(a[-1])

python

# Slicing

In [18]:
a=(14,15,17,821,5,852,8,29,2,8,2,4)
print(a[0:6])

(14, 15, 17, 821, 5, 852)

In [19]:
a=(14,15,17,821,5,852,8,29,2,8,2,4)
print(a[:6])

(14, 15, 17, 821, 5, 852)

In [20]:
a=(14,15,17,821,5,852,8,29,2,8,2,4)
print(a[0:13])

(14, 15, 17, 821, 5, 852, 8, 29, 2, 8, 2, 4)

In [21]:
a=(14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::2])

(14, 17, 5, 8, 2, 2)

# Reverse

In [27]:
a=(14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::-1])

(4, 2, 8, 2, 29, 8, 852, 5, 821, 17, 15, 14)

In [34]:
T=(1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])
print(T[:-2])
print(T[-2:])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()
(1, 2, 3, 4, 5, 6)
(7, 8)

In [36]:
t=(1,2,3,4,2,3,4,5,2,3,2) #duplicate value
print(t)
print(type(t))

(1, 2, 3, 4, 2, 3, 4, 5, 2, 3, 2)
<class 'tuple'>

In [37]:
a=(20,23,24,25,26)
#to add the value we cannot do in tuple so we convert tuple into list into tuple.
y=list(a)
y.append(30)
a=tuple(y)
print(a)

(20, 23, 24, 25, 26, 30)

In [39]:
a=(20,23,24,25,26)
#to remove the value we cannot do in tuple so we convert tuple into list into tuple.
y=list(a)
y.remove(24)
a=tuple(y)
print(a)

(20, 23, 25, 26)

In [45]:
a=(1,2,3,4,5,6,7,8,9)  ##it delete all tuple from the memory so it occure error.
del a
print(a)

NameError: name 'a' is not defined

# Loop

In [46]:
thistuple=("a","b","c")
for x in thistuple:
    print(x)

a
b
c

# join two tuple

In [48]:
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply

In [50]:
a=("apple","data","python")
b=a*3
print(b)

('apple', 'data', 'python', 'apple', 'data', 'python', 'apple', 'data', 'python')

In [53]:
T=(1,2,3,4,5,6,7,8)
print(T*2)
print(T+T+T)
print(T+T)
print(T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8)
8

# Write a program to take 5 input from the user and store in a tuple.

In [61]:
T=()
i=0
while i<=5:
    num=int(input("enter the values please"))
    T=T+(num,)
    i=i+1
    print(T)

enter the values please10
(10,)
enter the values please20
(10, 20)
enter the values please30
(10, 20, 30)
enter the values please40
(10, 20, 30, 40)
enter the values please50
(10, 20, 30, 40, 50)
enter the values please60
(10, 20, 30, 40, 50, 60)