# Day-11

# Sets in python

# Creating a set

In [52]:
a={"animals","ball","cat"}
print(a)
print(type(a))

{'ball', 'animals', 'cat'}
<class 'set'>

# Set items are unordered

In [53]:
a={"animals","ball","cat"}  #order not support
print(a[0])

TypeError: 'set' object is not subscriptable

# Duplicates ,not allowed

In [54]:
a={"animals","ball","cat","animals","ball","ball"}  #duplicate not allow so output will be singlar
print(a)

{'ball', 'animals', 'cat'}

# True and 1 is consider the same value.

In [55]:
a={"animals","ball","cat","animals","ball","ball",1,2,3,True}
print(a)

{1, 2, 3, 'animals', 'cat', 'ball'}

# Get the length of a set

In [56]:
a={"animals","ball","cat","animals","ball","ball",1,2,3,True}
print(a)
print(len(a))

{1, 2, 3, 'animals', 'cat', 'ball'}
6

# Sets items-Data Types

In [57]:
x1={1,2,3,4}
x2={1,2,2,3,4,1,4,5}
x3={"a","b","c"}
x4={True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1, 2, 3, 4, 5} {'a', 'b', 'c'} {False, True}

In [58]:
m=(1,2,-5,2,1,2.2,True,"student",3.2,6+2j,"apple")
print(m)

(1, 2, -5, 2, 1, 2.2, True, 'student', 3.2, (6+2j), 'apple')

In [59]:
x5={[1,2,3,4,5]}  #not possible list because sets not allow order.
print(x5)

TypeError: unhashable type: 'list'

In [60]:
x6={(1,2,3,4,5)} #tuples are inmuteable so it is hashable.
print(x6)

{(1, 2, 3, 4, 5)}

In [61]:
X7={{"a":1,"b":2,"c":3}}  #not possible dictionary because sets not allow order.
print(x7)

TypeError: unhashable type: 'dict'

# Nesting isnot a property of set

In [62]:
a={{1,2,3},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# The Set() Constructor

In [63]:
thisset = set(("alpha","beta","gamma"))
print(thisset)
print(type(thisset))

{'beta', 'gamma', 'alpha'}
<class 'set'>

# Creating Empty Set

In [64]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [65]:
empty =set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Acess items

In [66]:
a={"a","b","c","d"}

for x in a:
    print(x)

a
b
d
c

# Check if "item" is present in the set

In [67]:
a={"data","python","code"}

print("code" in a)

True

In [68]:
a={"data","python","code"}

print("analyst" in a)

False

In [69]:
a={"data","python","code"}

print("data" in a)

True

# Add items

In [70]:
x = {"a","b","c","d"}
x.add(100)
print(x)

{100, 'd', 'c', 'a', 'b'}

# Update

In [71]:
x={"data","python","code"}
y={10,20,30,40,50,60,70}

x.update(y)
print(x)

{70, 40, 10, 'data', 'python', 50, 20, 'code', 60, 30}

# Remove set items

In [72]:
n={70, 40, 10, 'data', 'python', 50, 20, 'code', 60, 30}
n.remove(40)
n.remove("code")
print(n)

{70, 10, 'data', 'python', 50, 20, 60, 30}

In [73]:
n={70, 40, 10, 'data', 'python', 50, 20, 'code', 60, 30}
x= n.pop()  #random remove
print(n)

{40, 10, 'data', 'python', 50, 20, 'code', 60, 30}

In [74]:
n={70, 40, 10, 'data', 'python', 50, 20, 'code', 60, 30}
n.clear()  #clear the values
print(n)

set()

In [75]:
n={70, 40, 10, 'data', 'python', 50, 20, 'code', 60, 30}
del n  #error occur due to all the data remove from the memory.
print(n)

NameError: name 'n' is not defined

# Join two sets

In [76]:
x={"a","b","c"}
y={1,2,3}
z=x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

# Write a python program to find the maximum and minimum values.

In [77]:
setn={21,48,5,7,8,10,23,32}
print("orginal set elements")
print(setn)
print("maximum value of the set is")
print(max(setn))
print("minimum value of the set is")
print(min(setn))

orginal set elements
{32, 5, 7, 8, 10, 48, 21, 23}
maximum value of the set is
48
minimum value of the set is
5

# Return a new set of identical items from two sets.

In [78]:
set1={10,20,30,40,50}
set2={30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}

# Put a value in a set and convert into list and tuple.

In [84]:
x={"nepal","india","usa"}
print(type(x))

y=list(x)
print(y)

z=tuple(x)
print(z)

<class 'set'>
['nepal', 'usa', 'india']
('nepal', 'usa', 'india')

# Put a value in a set and find the length,maximum,minumum and convert this set into list and tuple.

In [86]:
setn={21,48,5,7,8,10,23,32}
print(type(setn))
print(len(setn))
print("orginal set elements")
print(setn)
print("maximum value of the set is")
print(max(setn))
print("minimum value of the set is")
print(min(setn))

y=list(setn)
print(y)

z=tuple(setn)
print(z)

<class 'set'>
8
orginal set elements
{32, 5, 7, 8, 10, 48, 21, 23}
maximum value of the set is
48
minimum value of the set is
5
[32, 5, 7, 8, 10, 48, 21, 23]
(32, 5, 7, 8, 10, 48, 21, 23)